/* .header {

    height: 5rem;
    background-color: white;
    padding: 0 10%;
    text-align: center;
}

.header nav {
    height: 100%;
} */

.header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
}

.header li {
    margin: 0 1rem;
    width: 5rem;
    font-size: larger;
    font-family: 'Gavora Personaluse';
}

.header a {
    text-decoration: none;
    color: rgb(184, 171, 2);
    font-weight: bold;

}


.logo {
  width: auto;
  height: 40px;
  margin-right: 0.5rem;
}

.dark-mode__toggle {
    background: papayawhip;
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
    height: 20px;
    position: relative;
    width: 40px;
  }
  .toggle {
    background: #f68819;
    border-radius: 50px;
    height: 20px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 21.5px;
  }
  .toggled {
    left: 18px;
  }
  
  .dark-mode {
    color: #fff;
    background-color: rgb(0, 0, 0);
  }
  .dark-mode .header {
    background-color: rgb(0, 0, 0);
    border: none;
  }
  .dark-mode .link {
    color: #fff;
    /* background-color: rgb(44, 43, 43); */
  }

  .dark-mode .card:hover {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #ee2e31,
      0 0 20px #ee2e31, 0 0 25px #ee2e31, 0 0 30px #ee2e31, 0 0 35px #ee2e31;
  }

  .dark-mode .Home-Item-label {
    padding: 15px;
    color: rgb(248, 246, 246);
    font-weight: bold;
  }

.dark-mode .Home-Item-Wrapper {
  
  display: flex;
  font-family: sans-serif;
  border: 3px solid yellow;
  border-radius: 10px;
  margin: 15px;
  align-items: center;
  
}

.dark-mode .Home-Item-Wrapper img {
  display: block;
  padding: 6px;
  
  border-right: 3px solid yellow;
  border-radius: 20px;
  width: 40vw;
  height: 30vh;
  object-fit: fill;
  
}

.dark-mode .info{
  padding-left: 0px;
  color: white;
}

.dark-mode .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}



.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button:hover {
  cursor: pointer;
}



.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media only screen and (max-width: 820px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
    padding: 1rem;
    /* width: 100%;
    display: table; */
  }

  /* .navbar-links li a {
    padding: .5rem 1rem;
  } */

  .navbar-links.active {
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 16px;
    border-radius: 60px;
  }
  
  
}

@media only screen and (max-width: 820px) {
  .dark-mode__toggle {
    background: papayawhip;
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
    height: 20px;
    position: relative;
    width: 70px;
  }
  .toggle {
    background: #f68819;
    border-radius: 50px;
    height: 20px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 21.5px;
  }
  .toggled {
    left: 48px;
  }
  .dark-mode .navbar-links.active {
    display: flex;
    border-bottom: 2px solid yellow;
    padding-bottom: 16px;
    border-radius: 60px;
  }
  .dark-mode .Home-Item-Wrapper img {
    display: block;
      padding: 6px;
      /* width: 500px; */
      border-right: 0px;
      border-bottom: 3px solid yellow;
      border-radius: 8px;
      width: 70vw;
      height: 26vh;
      object-fit: fill;
  }  
}